<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HttpService</title>
    <script src="../framework/angular/angular.js" ></script>
    <script src="../framework/jquery.min.js" ></script>
    <script src="../js/network.js" ></script>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
    <h1>data : {{data}}</h1>
    <h1>status : {{status}}</h1>
    <h1>headers : {{headers}}</h1>
    <h1>config : {{config}}</h1>
</div>

<script>
    var app = angular.module('myApp', ["pocketService"]);
    app.controller('myCtrl', function($scope,$log,$http,pocket) {
        pocket.formData({
            url:"/api/gossip/custom/create",
            params:{
                categoryId:1,
                content:"你好吗？",
                access_token:networkConfig.token
            },
            error: function (data, status) {
                $log.debug(status + data);
            },
            success: function(data,status){
                $log.debug(status + data);
            }
        })
    });
</script>
</body>
</html>